:root {
    --primary-font: 'Archivo', sans-serif;
}

/* ::selection {
    background-color: #A097B4;
    color: black;
} */

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A097B4;
}

* {
    margin: 0;
    padding: 0;
}

body {
/*     background-image: url(../images//BG.svg); */
    background-repeat: no-repeat;
    background-color: #05050A;
    font-family: var(--primary-font);
    background-size: contain;
    cursor: url('/cursor.png') 20 20, auto;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.header-brand {
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 1.75rem;
    font-weight: 600;
    gap: 0;
    cursor: pointer;
    transition: 0.1s;
}

.header-brand img {
    width: 4rem;
    height: 4rem;
}

.header-brand:hover {
    filter: drop-shadow(0px 4px 10px #A097B4);
}

.navbar {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #7F7F90;
}

.navbar li {
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    gap: 0.8rem;
}

.navbar li:hover {
    color: #aeaebb;
    transform: scale(1.05);
    filter: drop-shadow(0px 4px 10px #A097B4);
}

.auth-buttons {
    display: flex;
    gap: 16px;
}

.sign-in-btn {
    padding: 15px 24px;
    width: 97px;
    height: 47px;
    cursor: pointer;
    background: linear-gradient(0deg, #000000, #000000), linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: inset 0px 10px 25px rgba(230, 221, 254, 0.1);
    border-radius: 99px;
    font-family: 'Archivo';
    border: 2px solid rgba(230, 221, 254, 0.1);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    white-space: nowrap;
    transition: 0.2s;
}

.sign-in-btn:hover {
    filter: drop-shadow(0px 1px 6px #A097B4);
}

.sign-up-btn {
    padding: 15px 24px;
    width: 102px;
    height: 47px;
    background: url(.png), #FFFFFF;
    box-shadow: 0px 0px 35px rgba(160, 151, 180, 0.5);
    border-radius: 99px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.2s;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.sign-up-btn:hover {
    filter: drop-shadow(0px 1px 6px #A097B4);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.titles {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles .first-line {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.first-line span {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.first-line h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.second-line h3 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.third-line h3 {
    position: relative;
    top: 60px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    text-align: center;
    line-height: 10px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
    filter: blur(50px);
}

.third-line h4 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #a594c7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.main-container p {
    margin-top: 42px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #7F7F90;

}

.main-btns {
    margin-top: 46px;
    display: flex;
    gap: 16px;
}

.learn-more-btn {
    padding: 18px 32px;
    width: 165px;
    height: 58px;
    cursor: pointer;
    background: linear-gradient(0deg, #000000, #000000), linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: inset 0px 10px 25px rgba(230, 221, 254, 0.1);
    border-radius: 99px;
    font-family: 'Archivo';
    border: 2px solid rgba(230, 221, 254, 0.1);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    white-space: nowrap;
    transition: 0.2s;
}

.learn-more-btn:hover {
    filter: drop-shadow(0px 1px 6px #A097B4);
}

.main-btns .secondary-btn {
    padding: 18px 32px;
    width: 166px;
    height: 58px;
    background: url(.png), #FFFFFF;
    box-shadow: 0px 0px 35px rgba(160, 151, 180, 0.5);
    border-radius: 99px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.2s;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.main-btns .secondary-btn:hover {
    filter: drop-shadow(0px 1px 6px #A097B4);
}

.phones-container {
    margin-top: 9rem;
}

.companies-container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.companies-container p {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #7F7F90;

}

.companies-container .company-logos {
    display: flex;
    gap: 3.875rem;
}

.about-app-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about-app-container-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.about-app-container-titles h3 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background: linear-gradient(269.5deg, #F4F1F7 14.41%, #D5CCEC 37.86%, #ADBBEA 62.88%, #DDE2F2 89.46%), linear-gradient(0deg, #F9F8F6, #F9F8F6), url(.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.about-app-container-titles h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about-app-container-titles p {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #7F7F90;
}

.about-app-container-cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.about-app-container-cards img {
    width: 385px;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%), #05050A;
    box-shadow: inset 0px 10px 25px rgba(230, 221, 254, 0.1);
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.about-app-container-cards img:hover {
    filter: drop-shadow(0px 4px 12px #ffffff);
    transform: scale(1.06);
}

.about-app-container-cards img:active {
    filter: drop-shadow(0px 4px 10px #ffffff);
    transform: rotate(-2deg);
}

.about-app-container-cards .col2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.about-app-container-cards .col3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.light-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #fff;
    filter: blur(30px);
    z-index: 9999;
    pointer-events: none;
}

.app-info-container {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: solid 1px #7F7F90;
    margin-inline: 10rem;
    padding-bottom: 14rem;
}

.app-info-container-left-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.vexion-title {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #a594c7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.app-info-container-left-col h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.app-info-container-left-col p {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #7F7F90;
}

.get-the-app-btn {
    margin-top: 168px;
    padding: 15px 24px;
    width: 130px;
    border: none;
    height: 47px;
    left: 0px;
    top: 427.94px;
    box-shadow: 0px 0px 35px rgba(160, 151, 180, 0.5);
    border-radius: 99px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    cursor: pointer;
    transition: 0.2s;
}

.get-the-app-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 60px rgba(184, 176, 201, 0.5);
}

.get-the-app-btn button:active {
    transform: scale(1);
}

.app-info-container-mid-col img {
    margin-top: 400px;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-info-container-right-col {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}

.left-bar {
    border-left: solid #3B3B44 4px;
    border-collapse: separate;
    padding-left: 1rem;
}

.check-the-latency {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.check-the-latency:hover h4 {
    color: white;
    text-shadow: 0px 0px 35px rgba(160, 151, 180, 0.5);
}

.check-the-latency:hover {
    color: white;
    text-shadow: 0px 0px 35px rgba(160, 151, 180, 0.5);
    border-left: solid #ffffff 4px;
}

.check-the-latency h4 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #7F7F90;
    transition: 0.2s;
}

.check-the-latency p {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #7F7F90;
}

.app-flow-container {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 16rem;
    color: white;
}

.app-flow-container-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;

}

.app-flow-container-content h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.app-flow-container p {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #7F7F90;
}

.app-flow-container-content-buttons {
    margin-top: 3rem;
    display: flex;
    gap: 16px;
}

.reverse {
    flex-direction: row-reverse;
}

.about-card-wrapper {
    display: flex;
    justify-content: center;

}

.about-card-container {
    margin-top: 17rem;
    display: flex;
    width: 944px;
    justify-content: space-between;
    padding-inline: 80px;
    background-image: url("../images/JoinToOurComm.svg");
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
}

.about-card-container h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about-card-container img {
    border-radius: 24px;
}

.about-card-container button {
    transition: 0.2s;
}

.footer-top-hr-wrapper {
    margin-top: 18rem;
    display: flex;
    justify-content: center;
}

.footer-top-hr {
    display: flex;
    flex-direction: row;
}

.footer-top-hr .main-img {
    width: 100px;
    margin-inline: 2rem;
}

.footer {
    margin-top: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 6rem;
}

.footer-left-col {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.footer-mid-col {
    display: flex;
    flex-direction: column;
}

#footer-get-the-app-btn {
    margin-top: 0;
    margin-bottom: 10rem;
    margin-left: 38px;
}

.footer-right-col {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.footer li {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #7F7F90;
    cursor: pointer;
    transition: 0.2s;
}

.footer li:hover {
    text-shadow: 1px 1px 135px #fff;
    color: white;

}

.footer-mid-col span {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #7F7F90;
}
